@use "sass:math";
@use "lib/anime" as a;
$period: 0.4s;

body {
    margin: 0;
}

#container {
    width: 100%;
    height: 100vh;
    background-color: rgba(206, 255, 251, 0.514);
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: aliceblue;
    position: relative;
    // transform-style: preserve-3d;
    // perspective: 300px;
    // transform-origin: center center -300px;
}

.base {
    // 回転させる要素の親要素に設定する
    transform-style: preserve-3d;
    perspective: 1000px;
    perspective-origin: center -200%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 30%;
    // border: 3px solid #aaa;
    & div {
        // 回転させる要素自体に設定する
        position: relative;
        transform-origin: center center -400px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        & img {
            position: absolute;
            display: block;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.div {
    &-1 {
        background-color: rgb(255, 149, 149);
        @include a.animation(
            $name: rotation,
            $duration: $period,
            $timing-function: linear,
            $delay: 0,
            $iteration-count: infinite,
        );
        // transform: rotateY(0deg);
    }
    &-2 {
        background-color: rgb(255, 209, 122);
        @include a.animation(
            $name: rotation,
            $duration: $period,
            $timing-function: linear,
            $delay: math.div(-$period, 6),
            $iteration-count: infinite,
        );
        // transform: rotateY(60deg);
    }
    &-3 {
        background-color: aquamarine;
        @include a.animation(
            $name: rotation,
            $duration: $period,
            $timing-function: linear,
            $delay: math.div(-$period*2, 6),
            $iteration-count: infinite,
        );
        // transform: rotateY(120deg);
    }
    &-4 {
        background-color: chartreuse;
        @include a.animation(
            $name: rotation,
            $duration: $period,
            $timing-function: linear,
            $delay: math.div(-$period*3, 6),
            $iteration-count: infinite,
        );
        // transform: rotateY(180deg);
    }
    &-5 {
        background-color: aqua;
        @include a.animation(
            $name: rotation,
            $duration: $period,
            $timing-function: linear,
            $delay: math.div(-$period*4, 6),
            $iteration-count: infinite,
        );
        // transform: rotateY(240deg);
    }
    &-6 {
        background-color: rgb(255, 150, 255);
        @include a.animation(
            $name: rotation,
            $duration: $period,
            $timing-function: linear,
            $delay: math.div(-$period*5, 6),
            $iteration-count: infinite,
        );
        // transform: rotateY(300deg);
    }
}

@keyframes rotation {
    from {
        transform: translateZ(200px) rotateY(0deg);
    }

    to {
        transform: translateZ(200px) rotateY(-360deg);
    }
}
